body{
    padding: 0px;
    margin: 0px;
    background-color: lightgray;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3em;
}

.content > div{
    margin-left: 40px;
    border: solid 2px black;
    background-color: white;
    max-width: 600px;
}


.mainint{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3em;
}


.bond h3{
    margin-left: 45px;
}

.bond{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3em;
   width: 600px;
}


.links{
    width: 150px;
    border: solid 1px black;
    margin-left: 42px;
    max-height: 420px;
    background-color: snow;
}

.links a, .links li{
    text-decoration: none;
    list-style: outside;
    margin-left: 10px;
}

.links h4{
    text-align: center;
    font-size: 15px;
}

.history{
    width: 450px;
    border: solid 1px black;
    margin-right: 700px;
    background-color: snow;
}

.history h4{
    text-align: center;
    font-size: 15px;
}

.history h5{
    margin-left: 10px;
    font-size: 15px;
}

.history p{
    margin-left: 10px;
    font-size: 15px;
}

hr{
    margin: 10px;
}

#welcome{
    margin-left: 40px;
    font-size: 19px;
}

.slides{
    margin-left: 60px;
    width: 330px;
    height: 150px;
}

.meet{
    border: solid 1px black;
    margin-right: 20px;
    background-color: snow;
}

.meet h3{
    margin-left: 20px;
}

.desc{
    overflow: scroll;
    max-height: 120px;
}

.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.3em;
    margin-left: 10px;
    overflow: scroll;
    max-height: 350px;
    background-color: snow;
}

.team img{
    width: 200px;
    height: 200px;
}

.team p{
    text-align: center;
}

#line{
    margin-left: 5px;
    margin-right: 330px;
}